button {
	/* Put this, for the background color to be visible */
    background-image: none;
	font-size: 25px;
}

entry {
	font-size: 25px;
	padding-bottom: 20px;
	padding-top: 10px;
}

button#clear {
	background-color: #A00000;
}

button#equals {
	background-color: #0059FF;
}

button#number_buttons {
	background-color: #4C4C4C;
}
